source https://nuget.org/api/v2

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE

group Test
  source https://nuget.org/api/v2
  source https://ci.appveyor.com/nuget/fscheck
  
  nuget FsCheck.NUnit
  nuget NUnitTestAdapter
  