source https://nuget.org/api/v2

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE

group Test
  source https://nuget.org/api/v2
  
  nuget FsCheck.Xunit
  nuget xunit.runners
  nuget xunit.runner.console